.list-card {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media screen and (max-width:992px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width:768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width:576px) {
        grid-template-columns: repeat(1, 1fr);
    }
}